// This file is used to ignore files and directories in the repository
.env
.env.sample

.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pydistutils.cfg

uv.lock
poetry.lock
Pipfile
Pipfile.lock

.vscode/
*.code-workspace

.devcontainer/

.DS_Store
Thumbs.db

logs/
*.log
debug.log
*.swp
*.swo

__pycache__/
*.pyc
*.pyo
*.pyd

*.sqlite
*.db
*.db-journal
*.dat
*.csv
*.json

json_formatter.py
artifacts/